/* Pocketgrid gutters */
.block-group {
  margin: -1em 0 0 -1em;
}

.block {
  padding: 1em 0 0 1em;
}

body {
  padding: 0;
  font-family: Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #007edf;
  text-decoration: none;
}
a:hover {
  color: #F60;
}

code, pre {
  font-size: .9em;
}

.header {
  color: white;
  background-color: black;
}

.brand {
  font-weight: bold;
  font-size: 2.5em;
  margin: -2px 10px -20px 20px;
}
.brand a {
  color: white !important;
  text-shadow: 0 0 0.3em #CCC, 0 0 0.3em #CCC;
}
.brand a:hover {
  text-shadow: 0 0 0.3em #CCC, 0 0 0.3em #CCC, 0 0 0.3em #CCC;
}

.nav ul {
  padding-left: 20px;
}
.nav ul li {
  list-style-type: none;
  margin-right: 10px;
  font-weight: bold;
  padding: 10px 0;
}
.nav a {
  color: white;
  text-decoration: none;
  padding: 3px 0;
}
.nav a:hover {
  border-bottom: 5px solid #F60;
}
.nav a.selected {
  border-bottom: 5px solid #0CF;
}

.main-title {
  padding: 2em 20px 1em 20px;
}

.content {
  max-width: 65em;
  margin: 0 auto;
  padding: 0 20px;
}

.button-group {
  text-align: center;
}

.footer .box {
  color: white;
  background-color: black;
}
.footer .box div {
  max-width: 65em;
  margin: 0 auto;
  padding: 1em 20px;
}
.footer a {
  color: #108EEF;
}

.bookmark {
  position: relative;
  padding-top: 20px;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 1.4em;
}

pre {
  padding: 0 10px;
}

table {
  border: solid 1px #CCC;
}

th {
  text-align: left;
}

td {
  vertical-align: top;
}

tr:nth-child(even) td {
  background-color: #EEE;
}

tr:hover td {
  background-color: #DDD !important;
}

code {
  background-color: #f6f6f6;
}

.note, .info, .warn {
  background-color: #FFC;
  border-style: solid;
  border-width: 1px 1px 1px 8px;
  border-color: #fff000;
  padding: .2em 1em .2em .5em;
  margin: .5em 0;
  line-height: 1.2em;
}
.note:before, .info:before, .warn:before {
  content: "Info";
  color: #fd0;
  font-weight: bold;
  font-style: normal;
  display: block;
}

.note {
  background-color: #dde9ff;
  border-color: #9AF;
}
.note:before {
  content: "Note";
  color: #67C;
}

.warn {
  background-color: #fdc;
  border-color: #f60;
}
.warn:before {
  content: "Warning!";
  color: #f60;
}

.remark {
  color: #999;
}

.prettyprint {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: .8em;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  margin: 0;
  overflow: auto;
  background-color: transparent;
  position: relative;
  border-radius: 4px;
}

.note .prettyprint, .info .prettyprint, .warn .prettyprint {
  background-color: #F9F9F9;
}

.lang-html:before, .lang-css:before {
  content: 'HTML';
  font-family: Calibri, Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: bold;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  padding-right: 4px;
  color: #F0F0F0;
  background-color: #F9F9F9;
  text-align: right;
  margin: 0;
  line-height: 1em;
}
.lte8 .lang-html:before, .lte8 .lang-css:before {
  /* Hack IE <= 8 */
  content: '';
}

.lang-css:before {
  content: 'CSS';
}
.lte8 .lang-css:before {
  /* Hack IE <= 8 */
  content: '';
}

pre .highlight {
  font-weight: bold;
  background-color: rgba(255, 255, 0, 0.5);
}
pre .highlight-group {
  font-weight: bold;
  background-color: rgba(255, 150, 0, 0.3);
}
pre .highlight-css {
  font-weight: bold;
  background-color: rgba(0, 100, 255, 0.1);
}
pre .tag {
  color: #3f6f9f;
}
pre .pname {
  color: #4f9fcf;
}
pre .pval {
  color: #D14;
}
pre .com, pre .com * {
  color: #999 !important;
}
pre .punc {
  color: #999;
}
pre .mq {
  color: #39F;
  font-weight: bold;
  background-color: rgba(0, 100, 255, 0.1);
}

.button {
  color: white;
  background-color: #06F;
  border-radius: 5px;
  padding: .3em 1em;
  margin: .3em 0;
  display: inline-block;
  text-decoration: none;
}

.button:hover {
  color: white;
  background-color: #F60;
}

.button.newtab {
  float: right;
  color: #777;
  font-weight: bold;
  background-color: #FB0;
  padding: 0 10px;
}

.button.newtab:hover {
  color: white;
  background-color: #F90;
}

.button-large {
  width: 8em;
  font-size: 1.4em;
  text-align: center;
  margin: 0 1em 1em 1em;
  font-weight: bold;
  border-radius: .7em;
}

@media (min-width: 35.5em) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.3)));
    background-image: -webkit-linear-gradient(black, rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(black, rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(black, rgba(0, 0, 0, 0.3));
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.3));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#33000000', GradientType=0 );
    /* IE6-9 */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #AAA;
  }
  .header .brand {
    float: left;
  }
  .header ul {
    float: right;
    padding-left: 0;
  }
  .header ul li {
    float: left;
    padding: 0;
  }
  .header ul a {
    padding: 3px 5px;
  }

  .main {
    margin-top: 4em;
  }

  .main-title {
    font-size: 2em;
  }
  .main-title h1 {
    color: #999;
    font-weight: normal;
    text-shadow: 0 0 0.2em #CCC, 0 0 0.2em #CCC;
  }
  .main-title h1, .main-title h1 x:-moz-any-link {
    /* Hack Firefox */
    text-shadow: 0 0 0.12em #CCC, 0 0 0.12em #CCC;
  }
}
.clear {
  clear: left;
}

.question-anchor {
  visibility: hidden;
  padding-top: 50px;
}

.question-title {
  color: #777 !important;
}

.highlight {
  font-weight: bold;
  background-color: rgba(255, 255, 0, 0.5);
}

.border {
  border: dashed 1px #CCC;
  width: 208px;
  padding: 10px;
  margin: 0 50px;
}

.code-sample {
  font-family: monospace;
  white-space: pre;
  overflow: auto;
}

.faq-different-heights .box {
  background-color: #DDD;
  width: 50px;
  line-height: 50px;
  margin: 1px;
  text-align: center;
  font-family: arial;
  font-weight: bold;
  color: #999;
}
.faq-different-heights .block-group {
  width: 208px;
  margin: 0;
}
.faq-different-heights .block-group .block {
  padding: 0;
  width: auto;
}
.faq-different-heights .dif-height .b2 .box {
  line-height: 70px;
  background-color: #C6C6C6;
}
.faq-different-heights .dif-height .b5 .box {
  color: red;
  background-color: #FAA;
}
.faq-different-heights .cleared .b5 {
  clear: left;
}
.faq-different-heights .cleared .b5 .box {
  color: green;
  background-color: #AFA;
}
.faq-different-heights .dif-height2 .b2 .box, .faq-different-heights .dif-height2 .b7 .box {
  line-height: 70px;
  background-color: #C6C6C6;
}
.faq-different-heights .dif-height2 .b5 .box, .faq-different-heights .dif-height2 .b9 .box {
  color: red;
  background-color: #FAA;
}
.faq-different-heights .cleared2 .block:nth-child(4n+1) {
  clear: left;
}
.faq-different-heights .cleared2 .b5 .box, .faq-different-heights .cleared2 .b9 .box {
  color: green;
  background-color: #AFA;
}
